{% extends 'base_index.html' %}
{% block nav %}
	<li role = "presentation" style = "width: 96px" ><a href = "/" >主页</a ></li >
	<li role = "presentation" style = "width: 96px" ><a href = "/search" >高级搜索</a ></li >
	<li role = "presentation" style = "width: 96px" ><a href = "/dataManager" >数据管理</a ></li >
	<li role = "presentation" class = "active" >
		<a href = "/dataManager/student" class = "active" >个人消费数据统计（按天为单位计算）</a >
	</li >
	<li role = "presentation" >
		<a href = "/dataManager/class" >班级消费数据统计（按天为单位计算）</a >
	</li >
{% endblock %}
{% block content %}
	<!-- 此处填充页面主体内容 -->
	<div align = "center" style = "padding: 50px;background: #ffffff" >

		<div class = "row" >
			<div class = "col-md-12" ><h2 >个人消费数据统计</h2 ></div >

			{% if data==None %}

			<form class = "table" action = "/dataManager/student" method = "get" >

				<label style = "height: 33px" >学号： </label >
				<label style = "height: 33px" >
					<input type = "text" class = "form-control" name = "stuID" style = "width: 250px" >
				</label >


				<button style = "height: 33px ;width:96px;" type = "submit" class = "btn-success" >搜索

				</button >
			</form >
			{% else %}


				<div id = "main" style = "width: 600px;height:400px;" ></div >
				<h1>hhahahhah</h1>
				<script type = "text/javascript" >
                    // 基于准备好的dom，初始化echarts实例
                    import * as echarts from "./static/js/echarts";

                    var myChart = echarts.init(document.getElementById('main'));

                    // 指定图表的配置项和数据
                    var option = {
                        title: {
                            text: 'ECharts 入门示例'
                        },
                        tooltip: {},
                        legend: {
                            data: ['销量']
                        },
                        xAxis: {
                            data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
                        },
                        yAxis: {},
                        series: [{
                            name: '销量',
                            type: 'bar',
                            data: [5, 20, 36, 10, 10, 20]
                        }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
				</script >
			{% endif %}
		</div >
	</div >


	</div >


{% endblock %}
