{% extends 'base_index.html' %}
{% block nav %}
	<li role = "presentation" style = "width: 96px" ><a href = "/" >主页</a ></li >
	<li role = "presentation" style = "width: 96px" ><a href = "/search" >高级搜索</a ></li >
	<li role = "presentation" style = "width: 96px" ><a href = "/dataManager" >数据管理</a ></li >
	<li role = "presentation" >
		<a href = "/dataManager/student" >个人消费数据统计（按天为单位计算）</a >
	<li role = "presentation" class = "active" >
		<a href = "/dataManager/class" >班级消费数据统计（按天为单位计算）</a >
	</li >
{% endblock %}
{% block content %}
	<!-- 此处填充页面主体内容 -->
	<div align = "center" style = "padding: 50px;background: #ffffff" >

		<div class = "row" >
			<div class = "col-md-12" ><h2 >班级消费数据统计</h2 ></div >
		</div >


	</div >


{% endblock %}
